<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title><app-title-line-action title="Activated Tags"></app-title-line-action></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="tags-list">

    <div class="tag-edit-wrapper">
      <div class="name-wrapper">
        <p>Popptag - key chain</p>
        <button class="edit-button"><ion-icon src="assets/icon/icon-pencil-line.svg"></ion-icon></button>
      </div>
      <button class="delete-button"><ion-icon name="trash-outline"></ion-icon></button>
    </div>
    <div class="tag-edit-wrapper">
      <div class="name-wrapper">
        <p>Popptag - key chain</p>
        <button class="edit-button"><ion-icon src="assets/icon/icon-pencil-line.svg"></ion-icon></button>
      </div>
      <button class="delete-button"><ion-icon name="trash-outline"></ion-icon></button>
    </div>
    <div class="tag-edit-wrapper">
      <div class="name-wrapper">
        <p>Popptag - key chain</p>
        <button class="edit-button"><ion-icon src="assets/icon/icon-pencil-line.svg"></ion-icon></button>
      </div>
      <button class="delete-button"><ion-icon name="trash-outline"></ion-icon></button>
    </div>

    <button class="add-tag-button"><ion-icon name="add-circle-outline"></ion-icon></button>

  </div>

</ion-content>
