<div class="header-wrapper" [class.centerTitle]="centerTitle">
  <!-- <h1 class="title">{{title}}</h1> -->
  <div class="action-wrapper" *ngIf="isEditMode === true">
    <!-- <button (click)="editClicked()"><ion-icon src="assets/icon/icon-pencil-line.svg"></ion-icon></button>
    <button class="delete-button" (click)="deleteClick()"><ion-icon name="trash-outline"></ion-icon></button> -->
<!--    <button (click)="reorderClicked()"><ion-icon src="assets/icon/rearrange.svg"></ion-icon></button>-->
  </div>
</div>
