@import "src/theme/mixins";

.user-view-wrapper {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: stretch;
  flex-direction: row;
  // border-bottom: 1px solid var(--shade-one);
  padding: 10px 10px;
  cursor: pointer;
}




.info-wrapper {
  width: 100%;
  padding-left: 10px;

  p {
    margin: 0;
    color: #7E7E7E;
    font-size: 14px;
  }

  .icon-label-view {
    flex: 1;
    margin: 0;
    font-weight: bold;
    width: 50%;
    p {
      color: var(--shade-three);
      font-size: 12px;
      font-weight: 600;
    }
  }
}

.name-time-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  margin: 5px 0;

  .icon-label-view {
    flex: 1;
    margin: 0;
    font-weight: bold;

    p {
      color: var(--shade-three);
      font-size: 16px;
      font-weight: 600;
    }
  }

  .time {
    flex: 1;
    font-size: 10px;
    text-align: right;
    margin: 0;
  }
}

.icon-label-view {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  width: 40%;
  float: left;
  margin: 2px 0;

  img {
    margin-right: 5px;
  }
  ion-icon{
    margin-right: 5px;
    font-size: 14px;
  }
  p {
    color: var(--shade-two);
    font-size: 12px;
    font-weight: normal;
    margin:0;
  }
}

.action-buttons{
    
  width: 35%;
  float: right;

}
