@import "src/theme/mixins";
.avatar-wrapper{
  position: relative;
  transform: rotate(-45deg);
  img{
    width: 100%;
    transform: rotate(45deg);
  }
  ion-icon{
    width: 100%;
    transform: rotate(45deg);
  }
  .logo{
    position: absolute;
    top : 0;
    left: 0;
    @include circlfy(100%);
    @include shadow-light();
  }
  .bubble{
    @include flex-center();
    @include circlfy(60px);
    @include shadow-light();
    background: var(--ion-color-light);
    position: absolute;
    margin: 0;
    img{
      width: 50%;
    }
  }
  .filled{
    background: var(--ion-color-primary);
  }
}
