
<ion-content fullscreen class="ion-padding" scroll-y="false" class="bg-class">
  
  <div class="logo-image">
    <img src="../../../assets/Logo.png"> 
  </div>
  <h2 style="text-align: center; font-weight: bold;">Forgot Password</h2>
  <p style="text-align: center; padding-bottom: 10px;"> Enter your PopTagg email and we'll <br>send you a 6 digit code</p>


  <div class="id-pass">
  
  <ion-item>
    <ion-icon name="mail-outline"></ion-icon>
    <ion-input type="email" [(ngModel)]="email" placeholder="Email" style="text-align: center;"></ion-input>
  </ion-item>
<br>
</div>
   <ion-grid class="login-input-pannel">
   
      <ion-row>
        <ion-col>
          
            <div class="welcome-button">
              <ion-button (click)="fun.navigate('signup')" expand="full" shape="round" color="dark">Send Code</ion-button>
            </div>

        </ion-col>
      </ion-row>
      
    </ion-grid>
    
    

  <p style="text-align: center; padding-bottom: 10px;"><a (click)="fun.navigate('login')"> Back to Login </a> </p>

 
 

</ion-content>