<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <app-title-line-action title="Clients"></app-title-line-action>
  </ion-toolbar>
  <app-client-search-bar  [(value)]="searchInput"></app-client-search-bar>

</ion-header>

<ion-content>
  <ion-list>
    
      <app-user-view *ngFor="let client of clients" [hidden]="checkSearch(client)" [client]="client" (refresh)="refresh()"></app-user-view>
     
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addClientModel()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>
