@import "src/theme/mixins";

ion-footer{
  background: var(--ion-background-color);
  padding: 10px;

}
.submit-button{

}
.username-wrapper{
  h1{
    font-weight: bold;
  }
  p{
    @include safe-frame();
    margin-top: 20px;
    text-align: center;
    font-weight: normal;
    font-size: 15px;
    color: var(--shade-two);
  }
  h2{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: var(--shade-two);
  }
}

