<ion-tabs #tabs (ionTabsDidChange)="tabChange(tabs)">

  <ion-tab-bar slot="bottom">

    <ion-tab-button id="tab-button-first" tab="tab1">
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>

    <!-- <ion-tab-button tab="tab2">
      <ion-icon name="qr-code-outline"></ion-icon>

    </ion-tab-button>

    <div class="pop-button-wrapper" [class.direct]="directIcon && directIcon.iconImageUrl">
      <div class="pop-button" (click)="onDirectClicked()">
        <ion-icon *ngIf="directIcon == null" src="assets/icon/noun_navigation.svg"></ion-icon>
        <img *ngIf="directIcon" src="{{ 'assets/item-icons/' + directIcon.iconImageUrl}}">
      </div>
    </div> -->

    <ion-tab-button tab="tab3">
      <ion-icon name="person-outline"></ion-icon>
      
    </ion-tab-button>

    <ion-tab-button id="tab-button-last" tab="tab4">
      <ion-icon name="menu-outline"></ion-icon>

    </ion-tab-button>


  </ion-tab-bar>

</ion-tabs>
