<div class="user-view-wrapper">
  <div class="avatar-wrapper">
    <!-- <app-avatar-round size="60" bubbleSize="20" iconUrl=""></app-avatar-round> -->
  </div>
  <div class="info-wrapper">
    <div class="name-time-row">
      <div class="icon-label-view">
        <p>{{subscription?.clientName}}</p>
      </div>
      <ion-badge color="warning">{{subscription?.subscriptionStatus}}</ion-badge>
    </div>
    <div class="icon-label-view">
        <p>Mobile No.: {{subscription?.mobileNumber}}</p>
    </div><br>
    <!-- <div class="icon-label-view">
      <ion-badge color="warning">{{subscription?.subscriptionStatus}}</ion-badge>
    </div> -->
    <div class="icon-label-view" *ngIf = "subscription?.endDate">
      <p> Expiry Date : {{subscription?.endDate}}</p>
    </div>
    <div class="action-buttons pull-right">
      <!-- <ion-button  size="small" color="primary" (click)="editHealthModel(healthStatus)"><ion-icon src="assets/icon/icon-pencil-line.svg"></ion-icon></ion-button> -->
      <ion-button size="small" color="success" (click)="openProfile(subscription)"><ion-icon name="chevron-forward-outline"></ion-icon></ion-button> 
    </div>
  </div>
</div>

