<ion-header>
  <ion-toolbar>
    
    <h6 style="text-align: center; font-weight: bold;">Choose a platform</h6>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col text-center>
        <div class="searchbaricon">
        <ion-searchbar style=" text-align: center !important; "></ion-searchbar>
      </div>
        <h6 style="text-align: center; font-weight: bold;">Featured</h6>
<!-- Segment in a toolbar -->
<ion-toolbar>
  <ion-segment (ionChange)="segmentChanged($event)">
    <ion-segment-button value="camera">
      <ion-img src="../../../assets/add-social/instagram.svg"></ion-img>
      <p style="text-transform: capitalize;">Instagram</p>
    </ion-segment-button>
    <ion-segment-button value="bookmark">
      <ion-img src="../../../assets/add-social/instagram.svg"></ion-img>
      <p style="text-transform: capitalize;">Instagram</p>
    </ion-segment-button>
    <ion-segment-button value="heart">
      <ion-img src="../../../assets/add-social/instagram.svg"></ion-img>
      <p style="text-transform: capitalize;">Instagram</p>
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>


        <h6 style="text-align: center; font-weight: bold;">Social media</h6>
        <!-- Segment in a toolbar -->
<ion-toolbar>
  <ion-segment (ionChange)="segmentChanged($event)">
    <ion-segment-button value="camera">
      <ion-img src="../../../assets/add-social/instagram.svg"></ion-img>
      <p style="text-transform: capitalize;">Instagram</p>
    </ion-segment-button>
    <ion-segment-button value="bookmark">
      <ion-img src="../../../assets/add-social/instagram.svg"></ion-img>
      <p style="text-transform: capitalize;">Instagram</p>
    </ion-segment-button>
    <ion-segment-button value="heart">
      <ion-img src="../../../assets/add-social/instagram.svg"></ion-img>
      <p style="text-transform: capitalize;">Instagram</p>
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>
<!-- Segment in a toolbar -->
<ion-toolbar>
  <ion-segment (ionChange)="segmentChanged($event)">
    <ion-segment-button value="camera">
      <ion-img src="../../../assets/add-social/instagram.svg"></ion-img>
      <p style="text-transform: capitalize;">Instagram</p>
    </ion-segment-button>
    <ion-segment-button value="bookmark">
      <ion-img src="../../../assets/add-social/instagram.svg"></ion-img>
      <p style="text-transform: capitalize;">Instagram</p>
    </ion-segment-button>
    <ion-segment-button value="heart">
      <ion-img src="../../../assets/add-social/instagram.svg"></ion-img>
      <p style="text-transform: capitalize;">Instagram</p>
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>
<!-- Segment in a toolbar -->
<ion-toolbar>
  <ion-segment (ionChange)="segmentChanged($event)">
    <ion-segment-button value="camera">
      <ion-img src="../../../assets/add-social/instagram.svg"></ion-img>
      <p style="text-transform: capitalize;">Instagram</p>
    </ion-segment-button>
    <ion-segment-button value="bookmark">
      <ion-img src="../../../assets/add-social/instagram.svg"></ion-img>
      <p style="text-transform: capitalize;">Instagram</p>
    </ion-segment-button>
    <ion-segment-button value="heart">
      <ion-img src="../../../assets/add-social/instagram.svg"></ion-img>
      <p style="text-transform: capitalize;">Instagram</p>
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>
       <h6 style="text-align: center; font-weight: bold;">Contact</h6>
               <!-- Segment in a toolbar -->
<ion-toolbar>
  <ion-segment (ionChange)="segmentChanged($event)">
    <ion-segment-button value="camera">
      <ion-img src="../../../assets/add-social/instagram.svg"></ion-img>
      <p style="text-transform: capitalize;">Instagram</p>
    </ion-segment-button>
    <ion-segment-button value="bookmark">
      <ion-img src="../../../assets/add-social/instagram.svg"></ion-img>
      <p style="text-transform: capitalize;">Instagram</p>
    </ion-segment-button>
    <ion-segment-button value="heart">
      <ion-img src="../../../assets/add-social/instagram.svg"></ion-img>
      <p style="text-transform: capitalize;">Instagram</p>
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>
<!-- Segment in a toolbar -->
<ion-toolbar>
  <ion-segment (ionChange)="segmentChanged($event)">
    <ion-segment-button value="camera">
      <ion-img src="../../../assets/add-social/instagram.svg"></ion-img>
      <p style="text-transform: capitalize;">Instagram</p>
    </ion-segment-button>
    <ion-segment-button value="bookmark">
      <ion-img src="../../../assets/add-social/instagram.svg"></ion-img>
      <p style="text-transform: capitalize;">Instagram</p>
    </ion-segment-button>
    <ion-segment-button value="heart">
      <ion-img src="../../../assets/add-social/instagram.svg"></ion-img>
      <p style="text-transform: capitalize;">Instagram</p>
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>
<!-- Segment in a toolbar -->
<ion-toolbar>
  <ion-segment (ionChange)="segmentChanged($event)">
    <ion-segment-button value="camera">
      <ion-img src="../../../assets/add-social/instagram.svg"></ion-img>
      <p style="text-transform: capitalize;">Instagram</p>
    </ion-segment-button>
    <ion-segment-button value="bookmark">
      <ion-img src="../../../assets/add-social/instagram.svg"></ion-img>
      <p style="text-transform: capitalize;">Instagram</p>
    </ion-segment-button>
    <ion-segment-button value="heart">
      <ion-img src="../../../assets/add-social/instagram.svg"></ion-img>
      <p style="text-transform: capitalize;">Instagram</p>
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>
        <h6 style="text-align: center; font-weight: bold;">Finance</h6>
        <!-- Segment in a toolbar -->
<ion-toolbar>
  <ion-segment (ionChange)="segmentChanged($event)">
    <ion-segment-button value="camera">
      <ion-img src="../../../assets/add-social/instagram.svg"></ion-img>
      <p style="text-transform: capitalize;">Instagram</p>
    </ion-segment-button>
    <ion-segment-button value="bookmark">
      <ion-img src="../../../assets/add-social/instagram.svg"></ion-img>
      <p style="text-transform: capitalize;">Instagram</p>
    </ion-segment-button>
    <ion-segment-button value="heart">
      <ion-img src="../../../assets/add-social/instagram.svg"></ion-img>
      <p style="text-transform: capitalize;">Instagram</p>
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>
<!-- Segment in a toolbar -->
<ion-toolbar>
  <ion-segment (ionChange)="segmentChanged($event)">
    <ion-segment-button value="camera">
      <ion-img src="../../../assets/add-social/instagram.svg"></ion-img>
      <p style="text-transform: capitalize;">Instagram</p>
    </ion-segment-button>
    <ion-segment-button value="bookmark">
      <ion-img src="../../../assets/add-social/instagram.svg"></ion-img>
      <p style="text-transform: capitalize;">Instagram</p>
    </ion-segment-button>
    
  </ion-segment>
</ion-toolbar>
        <h6 style="text-align: center; font-weight: bold;">Portfolio</h6>
        <!-- Segment in a toolbar -->
<ion-toolbar>
  <ion-segment (ionChange)="segmentChanged($event)">
    <ion-segment-button value="camera">
      <ion-img src="../../../assets/add-social/instagram.svg"></ion-img>
      <p style="text-transform: capitalize;">Instagram</p>
    </ion-segment-button>
    <ion-segment-button value="bookmark">
      <ion-img src="../../../assets/add-social/instagram.svg"></ion-img>
      <p style="text-transform: capitalize;">Instagram</p>
    </ion-segment-button>
    <ion-segment-button value="heart">
      <ion-img src="../../../assets/add-social/instagram.svg"></ion-img>
      <p style="text-transform: capitalize;">Instagram</p>
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>
        <h6 style="text-align: center; font-weight: bold;">Music</h6>
        <!-- Segment in a toolbar -->
<ion-toolbar>
  <ion-segment (ionChange)="segmentChanged($event)">
    <ion-segment-button value="camera">
      <ion-img src="../../../assets/add-social/instagram.svg"></ion-img>
      <p style="text-transform: capitalize;">Instagram</p>
    </ion-segment-button>
    <ion-segment-button value="bookmark">
      <ion-img src="../../../assets/add-social/instagram.svg"></ion-img>
      <p style="text-transform: capitalize;">Instagram</p>
    </ion-segment-button>
    <ion-segment-button value="heart">
      <ion-img src="../../../assets/add-social/instagram.svg"></ion-img>
      <p style="text-transform: capitalize;">Instagram</p>
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>
        <h6 style="text-align: center; font-weight: bold;">Business</h6>
        <!-- Segment in a toolbar -->
<ion-toolbar>
  <ion-segment (ionChange)="segmentChanged($event)">
    <ion-segment-button value="camera">
      <ion-img src="../../../assets/add-social/instagram.svg"></ion-img>
      <p style="text-transform: capitalize;">Instagram</p>
    </ion-segment-button>
    <ion-segment-button value="bookmark">
      <ion-img src="../../../assets/add-social/instagram.svg"></ion-img>
      <p style="text-transform: capitalize;">Instagram</p>
    </ion-segment-button>
    <ion-segment-button value="heart">
      <ion-img src="../../../assets/add-social/instagram.svg"></ion-img>
      <p style="text-transform: capitalize;">Instagram</p>
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>
        <h6 style="text-align: center; font-weight: bold;">More</h6>
        <!-- Segment in a toolbar -->
<ion-toolbar>
  <ion-segment (ionChange)="segmentChanged($event)">
    <ion-segment-button value="camera">
      <ion-img src="../../../assets/add-social/instagram.svg"></ion-img>
      <p style="text-transform: capitalize;">Instagram</p>
    </ion-segment-button>
    <ion-segment-button value="bookmark">
      <ion-img src="../../../assets/add-social/instagram.svg"></ion-img>
      <p style="text-transform: capitalize;">Instagram</p>
    </ion-segment-button>
    <ion-segment-button value="heart">
      <ion-img src="../../../assets/add-social/instagram.svg"></ion-img>
      <p style="text-transform: capitalize;">Instagram</p>
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>
        


<ion-toolbar>
  <ion-segment (ionChange)="segmentChanged($event)">
    <ion-segment-button value="camera">
      <ion-icon name="home"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="bookmark">
      <ion-toggle color="primary"></ion-toggle>
      
    </ion-segment-button>
    <ion-segment-button value="heart">
      <ion-icon name="add-circle"></ion-icon>
      
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>

      </ion-col>
      
    </ion-row>
    
    <ion-row>
      <ion-col text-center>
        <ion-button (click)="close()">Close</ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>
  
</ion-content>