.top-red {
    float: left;
    padding-top: 15px;
    padding-left: 20px;
    font-size: 30px;
    padding-right: 33px;
}

img.bg-pen-pro-edit-profile {
    float: right;
    margin-top: -66px;
    margin-right: 98px;
}
p.line-25 {
    margin-top: -11px;
    text-align: center;
}



ion-segment-button{
    --color-checked: none !important;

}
ion-content{
    background-color:#f3f4f7;
}

.save {
    text-align: center;
}
